    <section class="categorias">
        <div class="contenedor">
            <h2 class="texto-centro">Categorias</h2>
            <a href="#">
                <div class="caja-3 contenedor-flotante">
                    <img src="/asset/images/pizza.jpg" alt="Pizza" class="img-redondeado img-responsive">
                    <h3 class="texto-flotante">Pizza</h3>
                </div>
            </a>

            <a href="#">
                <div class="caja-3 contenedor-flotante">
                    <img src="/asset/images/burger.jpg" alt="Burger" class="img-redondeado img-responsive">
                    <h3 class="texto-flotante">Burger</h3>
                </div>
            </a>

            <a href="#">
                <div class="caja-3 contenedor-flotante">
                    <img src="/asset/images/momo.jpg" alt="Empanada" class="img-redondeado img-responsive">
                    <h3 class="texto-flotante">Empanada</h3>
                </div>
            </a>
            <div class="limpiar"></div>
        </div>
    </section>
