    <section class="footer">
        <div class="contenedor texto-centro">
            <p>Todos los derechos reservados. Diseñado por <a href="#">Carrera de Software - ESPE</a></p>            
        </div>
    </section>
