    <section class="navbar">
        <div class="contenedor">
            <div class="logo">
                <img src="/asset/images/logo.png" alt="Logo Restaurant" class="img-responsive">
            </div>
            <div class="menu texto-derecha">
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Conocenos</a>
                    </li>
                    <li>
                        <a href="#">Platos</a>
                    </li>
                    <li>
                        <a href="#">Contactanos</a>
                    </li>

                </ul>
            </div>
            <div class="limpiar"></div>
        </div>
    </section>
