    <section class="social">
        <div class="contenedor texto-centro">
            <h2>Siguenos en:</h2>
            <ul>
                <li>
                    <a href="#" class="facebook">
                        <img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/>
                    </a>
                </li>

                <li>
                    <a href="#" class="twitter">
                        <img src="https://img.icons8.com/color/48/000000/twitter.png"/>
                    </a>                
                </li>

                <li>
                    <a href="#" class="instagram">
                        <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </section>
