{{> head}}
<body>
    <!-- Inicio navbar -->
    {{> navbar}}
    <!-- Fin seccion navbar -->
    
    <!-- Inicio seccion busqueda --> 
    {{> busqueda}}
    <!-- Fin seccion busqueda -->

    <!-- Inicio seccion Categorias -->
    {{> categorias}}
    <!-- Fin seccion Categorias -->

    <!-- Inicio seccion menu platos -->
    {{> menu_platos}}
    <!-- Fin seccion menu platos -->

    <!-- Inicio seccion redes sociales -->
    {{> redes_sociales}}
    <!-- Fin seccion redes sociales -->

    <!-- Inicio seccion  footer-->
    {{> footer}}
    <!-- Fin seccion footer -->

</body>
</html>